.dictCard-container {
  width: 95%;
}

.dictCard-romaji {
  font-size: 14px !important;
}

.dictCard-pos {
  font-size: 12px !important;
  opacity: 0.6;
  padding-left: 0.5rem;
}

.dictCard-word {
  font-size: 26px !important;
  font-weight: bold !important;
  padding-left: 0.5rem;
  padding-top: 1rem;
  height: fit-content;
}

.dictCard-index,
.dictCard-gloss {
  display: flex;
  font-size: 16px !important;
}

.dictCard-index {
  padding-left: 0.5rem;
  padding-right: 0.2rem;
  opacity: 0.6;
}

.dictCard-gloss {
  padding-left: 1rem;
  padding-right: 0.5rem;
}

.loading {
  height: 8rem;
}

.loading img {
  height: 4rem;
  aspect-ratio: 1/1;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.error {
  height: auto;
  margin: 12px 4px;
}

.error img {
  align-self: center;
  width: 8rem;
}

.oshushi-text {
  font-family: "VAGRounded" !important;
  color: #808080 !important;
  font-size: 25px !important;
  font-weight: 700 !important;
  position: relative;
  top: -10px;
}
.oshushi-text-mini {
  font-family: "VAGRounded" !important;
  color: #808080 !important;
  font-size: 12px !important;
  font-weight: 700 !important;
  position: relative;
  top: -15px;
}

img {
  pointer-events: none;
}
